/* Burger*/
.icon-menu {
    display: none;
}

@media (max-width: 768px) {
    .icon-menu {
        display: block;
        position: absolute;
        top: 18px;
        right: 10px;
        width: 30px;
        height: 18px;
        cursor: pointer;
        z-index: 5;
    }
    .icon-menu span{
        transition:  all 0.3s ease 0s;
        top: calc(50% - 1px);
        left: 0;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #000;
    }
    .icon-menu span:first-child{
        top: 0;
    }
    .icon-menu span:last-child{
        top: auto;
        bottom: 0;
    }
    .icon-menu ._active span{
        transform: scale(0);
    }
    .icon-menu ._active span:first-child{
        transform: rotate(-45deg);
        top: calc(50% - 1px);
    }
    .icon-menu ._active span:last-child{
        transform: rotate(45deg);
        bottom: calc(50% - 1px);
    }
}