@font-face {
  font-family: 'icons';
  src:
    url('../iconsfont/fonts/icons.ttf?rr5ln') format('truetype'),
    url('../iconsfont/fonts/icons.woff?rr5ln') format('woff'),
    url('../iconsfont/fonts/icons.svg?rr5ln#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"], [class*=" _icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-Linkedin:before {
  content: "\e900";
}
._icon-Vector:before {
  content: "\e901";
}
._icon-insta:before {
  content: "\e902";
}
._icon-fb:before {
  content: "\e903";
}
