* {
    font-family: 'Heebo', sans-serif;
    box-sizing: border-box;
}

body {
    color: #21243D;
    font-size: 14px;
    margin: 0;
}

body ._lock {
    overflow: hidden;
}

.page {
    padding-top: 90px;
    flex: 1 1 auto;
}

@media (max-width: 768px) {
    .page {
        padding: 30px 0 0 0;
    }

}

.header {
    position: relative;
    z-index: 100;
}

.header__content {
    max-width: 1052px;
    padding: 0 10px;
    margin: 0 auto;
}

.header__menu {
    padding: 10px 0;
    height: 82px;
    align-items: center;
    display: flex;
    justify-content: flex-end;

}

.menu__list li {
    list-style-type: none;
    margin: 0 0 30px 0;
}

.menu__list li:last-child {
    margin: 0 0 0 0;
}

@media (min-width: 768px) {
    .menu__list {
        display: flex;
    }

    .menu__list li {
        margin: 0 33px 0 0;
    }
}

.menu__link {
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    color: #000000;
    transition: color 0.3s ease 0s;
}

@media (min-width: 992px) {
    .menu__link:hover {
        color: #FF6464;
    }
}

._container {
    max-width: 856px;
    margin: 0 auto;
}

@media (max-width: 868px) {
    ._container {
        max-width: 750px;
    }
}

@media (max-width: 992px) {
    ._container {
        max-width: none;
        padding: 0 10px;
    }
}

.icon-menu {
    display: none;
}

@media (max-width: 768px) {
    .header__menu {
        height: 50px;
    }

    .menu__body {
        transform: translate(0, -100%);
        transition: trassform 0.8s ease 0s;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        overflow: auto;
        padding: 60px 10px 30px 10px;
        background-color: rgba(255, 255, 255, 0.95);
    }

    .menu__body ._active {
        transform: translate(0, 0%);
    }

    .menu__list {
        padding-left: 0;
    }

    .menu__link {
        font-size: 40px;
        display: block;
        text-align: center;
    }

    .icon-menu {
        display: block;
        position: relative;
        width: 30px;
        height: 18px;
        cursor: pointer;
        z-index: 5;
    }

    .icon-menu span {
        transition: all 0.3s ease 0s;
        top: calc(50% - 1px);
        left: 0;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #000;
    }

    .icon-menu span:first-child {
        top: 0;
    }

    .icon-menu span:last-child {
        top: auto;
        bottom: 0;
    }

    .icon-menu ._active span {
        transform: scale(0);
    }

    .icon-menu ._active span:first-child {
        transform: rotate(-45deg);
        top: calc(50% - 1px);
    }

    .icon-menu ._active span:last-child {
        transform: rotate(45deg);
        bottom: calc(50% - 1px);
    }
}

/*-------------------------------------------------*/
/*-------------------------------------------------*/
.hello {
    padding: 38px 0 70px 0;
}

@media (max-width: 868px) {
    .hello {
        padding: 0 0 70px 0;
    }
}

@media (max-width: 768px) {
    .hello {
        padding: 0 0 60px 0;
    }
}

.hello__container {
    display: flex;
}

@media (max-width: 868px) {
    .hello__container {
        text-align: center;
        flex-direction: column-reverse;
    }
}

.hello__content {
    align-items: flex-start;
    padding-top: 18px;
    padding-right: 110px;
    flex: 1 1 auto;
}

@media (max-width: 868px) {
    .hello__content {
        padding: 18px 50px 0 50px;
    }
}

@media (max-width: 768px) {
    .hello__content {
        padding: 0 0 0 0;
    }
}

.hello__content *:last-child {
    margin-bottom: 0;
}

.hello__title {
    margin: 0 0 25px 0;
}

@media (max-width: 768px) {
    .hello__title {
        margin: 0 0 20px 0;
    }
}

.hello__text {
    margin-bottom: 35px;
}

@media (max-width: 768px) {
    .hello__text {
        padding: 0 15px;
        margin: 0 0 25px 0;
    }
}

.hello__btn {
    margin-bottom: 25px;
}

@media (max-width: 768px) {
    .hello__btn {
        margin: 0 0 20px 0;
    }
}

.hello__avatar {
    flex: 0 0 243px;
    height: 243px;
    border-radius: 50%;
    /*overflow: hidden;*/
    box-shadow: -5px 13px 0 0 #0aa3d0;;
}

.hello__avatar img {
    max-width: 100%;
}

@media (max-width: 768px) {
    .hello__avatar {
        width: 170px;
        height: 170px;
        margin: 0 0 40px 0;
    }
}

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 1.36;
}

@media (max-width: 768px) {
    .title {
        font-size: 32px;
    }
}

.text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.43;

}

.title-posts {
    font-size: 22px;
}

@media (max-width: 868px) {
    .title-posts {
        text-align: center;
        font-size: 18px;
    }
}

.btn {
    height: 47px;
    background: #FF6464;
    border-radius: 2px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.45;
    color: #FFFFFF;
    text-decoration: none;
    transition: background-color 0.3s ease 0s;
}

@media (min-width: 992px) {
    .btn:hover {
        background-color: #c10a0a;

    }

    .btn_fw {
        width: 100%;
    }
}

/*-------------------------------------------------*/
/*-------------------------------------------------*/
.recent-posts {
    background: #2199bc;
    padding: 25px 0 13px 0;
}

@media (max-width: 768px) {
    .recent-posts {
        padding: 25px 0 23px 0;
    }
}

.recent-posts__header {
    display: flex;
    margin: 0 0 20px 0;
}

.recent-posts__title {
    padding: 0 20px 0 0;
    flex: 1 1 auto;
}

.recent-posts__view-all {
    flex: 0 0 auto;
    text-decoration: none;
    font-size: 16px;
    line-height: 23px;
    color: #00A8CC;
}

@media (max-width: 868px) {
    .recent-posts__view-all {
        display: none;
    }
}

.recent-posts__items {
    margin: 0 -10px;
}

@media (min-width: 768px) {
    .recent-posts__items {
        display: flex;
    }
}

.recent-posts__column {
    flex: 0 1 50%;
    padding: 0 10px;
    margin: 0 0 17px 0;
}

.recent-post {
    height: 100%;
    background: #FFFFFF;
    box-shadow: 0 4px 10px rgba(187, 225, 250, 0.25);
    border-radius: 4px;
    padding: 20px;
}

.recent-post *:last-child {
    margin-bottom: 0;
}

@media (max-width: 768px) {
    .recent-post {
        padding: 15px;
    }
}

.recent-post__title {
    display: inline-block;
    color: inherit;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.46;
    text-decoration: none;
    transition: color 0.3s ease 0s;
    margin: 0 0 17px 0;
}

@media (min-width: 992px) {
    .recent-post__title:hover {
        color: #FF6464;
    }
}

@media (max-width: 768px) {
    .recent-post__title {
        font-size: 22px;
        margin: 0 0 10px 0;
    }
}

.recent-post__info {
    margin: 0 0 15px 0;
    font-size: 18px;
    line-height: 1.44;
}

@media (max-width: 768px) {
    .recent-post__info {
        font-size: 16px;
        margin: 0 0 10px 0;
    }
}

.recent-post__info span {
    margin-left: 10px;
    margin-right: 10px;
}

.recent-post__text {
    margin: 0 0 15px 0;
}

/*-------------------------------------------------*/
/*-------------------------------------------------*/
.featured-works {
    padding: 30px 0 80px 0;
}

@media (max-width: 768px) {
    .featured-works {
        padding: 30px 0 30px 0;
    }
}

.featured-works__title {
    margin: 0 0 20px 0;
}

@media (max-width: 768px) {
    .featured-works__items {
        display: flex;
        overflow: auto;
    }
}

@media (max-width: 768px) {
    .works {
    }
}

.works__item {
    padding: 0 0 30px 0;
    margin: 0 0 30px 0;
    border-bottom: 1px solid #E0E0E0;
}

.works__item:last-child {
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .works__item {
        display: flex;
        align-items: flex-start;
    }
}

@media (max-width: 768px) {
    .works__item {
        flex: 0 0 90%;
        margin: 0 15px 0 0;
    }
}

.works__image {
    flex: 0 0 246px;
    display: block;
    border-radius: 6px;
    min-height: 180px;
    overflow: hidden;
}

@media (max-width: 768px) {
    .works__image {
        margin: 0 0 17px 0;
        padding: 0 0 60% 0;
    }
}

.works__body {
    flex: 1 1 auto;
}

@media (min-width: 768px) {
    .works__body {
        padding: 0 0 0 18px;
    }
}

.works__title {
    color: inherit;
    display: inline-block;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.46;
    margin: 0 0 15px 0;
}

@media (max-width: 768px) {
    .works__title {
        font-size: 24px;
    }
}

.works__info {
    display: flex;
    align-items: center;
    margin: 0 0 15px 0;
}

.works__year {
    display: inline-flex;
    background: #142850;
    border-radius: 16px;
    height: 25px;
    padding: 0 10px;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-weight: 900;
    font-size: 18px;
}

.works__category {
    color: #8695A4;
    font-size: 20px;
    margin: 0 0 0 25px;
}

/*===============================================*/
._ibg {
    position: relative;
}

._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

body.ie ._ibg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

body.ie ._ibg img {
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
}

/*================================================*/
.footer {
    text-align: center;
    padding: 50px 0;
}

.footer__social {
    margin: 0 0 25px 0;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social__item {
    margin: 0 17px;
    font-size: 30px;
    color: inherit;
    text-decoration: none;
    transition: fill 0.3s ease 0s;
}

@media (min-width: 992px) {
    .social__item:hover {
       color: #e51010;
    }
}